###############################################################################
# Set default behavior to automatically normalize line endings.
#
# Handle line endings automatically for files detected as text
# and leave all files detected as binary untouched.
###############################################################################
* text=auto

###############################################################################
# Set default behavior for command prompt diff.
#
# This is need for earlier builds of msysgit that does not have it on by
# default for csharp files.
# Note: This is only used by command line
###############################################################################
*.cs text diff=csharp 
*.vb text
*.c text
*.cpp text
*.cxx text
*.h text
*.hxx text
*.java text
*.php text
*.css text
*.sass text
*.scss text
*.less text
*.styl text
*.js text
*.ts text
*.coffee text
*.json text
*.htm text
*.html text
*.xml text
*.svg text
*.txt text
*.ini text
*.inc text
*.pl text
*.rb text
*.py text
*.scm text
*.sql text
*.sh text
*.bat text

# templates
*.cshtml text diff=csharp 
*.vbhtml text
*.ejs text
*.hbt text
*.jade text
*.haml text
*.hbs text
*.dot text
*.tmpl text
*.phtml text
*.latte text

###############################################################################
# Set the merge driver for project and solution files
#
# Merging from the command prompt will add diff markers to the files if there
# are conflicts (Merging from VS is not affected by the settings below, in VS
# the diff markers are never inserted). Diff markers may cause the following 
# file extensions to fail to load in VS. An alternative would be to treat
# these files as binary and thus will always conflict and require user
# intervention with every merge. To do so, just uncomment the entries below
###############################################################################
*.sln       text merge=binary eol=crlf
*.csproj    text merge=binary eol=crlf
*.vbproj    text merge=binary eol=crlf
*.vcxproj   text merge=binary eol=crlf
*.vcproj    text merge=binary eol=crlf
*.dbproj    text merge=binary eol=crlf
*.fsproj    text merge=binary eol=crlf
*.lsproj    text merge=binary eol=crlf
*.wixproj   text merge=binary eol=crlf
*.modelproj text merge=binary eol=crlf
*.sqlproj   text merge=binary eol=crlf
*.wwaproj   text merge=binary eol=crlf

*.vcxitems text
*.props text
*.filters text

###############################################################################
# behavior for image files
#
# image files are treated as binary by default.
###############################################################################
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.flv binary
*.fla binary
*.swf binary
*.gz binary
*.zip binary
*.7z binary
*.ttf binary
*.eot binary
*.woff binary
*.woff2 binary
*.pyc binary
*.pdf binary
*.psd binary
*.exe binary
*.dll binary

###############################################################################
# diff behavior for common document formats
# 
# Convert binary document formats to text before diffing them. This feature
# is only available from the command line. Turn it on by uncommenting the 
# entries below.
###############################################################################
*.doc  diff=astextplain
*.DOC	diff=astextplain
*.docx	diff=astextplain
*.DOCX	diff=astextplain
*.dot	diff=astextplain
*.DOT	diff=astextplain
*.pdf	diff=astextplain
*.PDF	diff=astextplain
*.rtf	diff=astextplain
*.RTF	diff=astextplain

###############################################################################
# Misc
###############################################################################

# server config
.htaccess text eol=crlf

# git config
.gitattributes text
.gitignore text
.gitconfig text

# code analysis config
.jshintrc text
.jscsrc text
.jshintignore text
.csslintrc text

# misc config
*.yaml text
*.yml text
.editorconfig text

# build config
*.npmignore text
*.bowerrc text

# Heroku
Procfile text
.slugignore text

# Documentation
*.md text
LICENSE text
AUTHORS text